@import "tailwindcss";


button {
    text-transform: capitalize;
    cursor: pointer;

}

input[type="radio"] {
    /* -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #d1d5db;
    border-radius: 50%;
    outline: none; */
    cursor: pointer;
}

